body {
	background: #ADD8E6;
}

canvas{
	background: #FFFFFF;
}

.jumbotron {
	background: #919191;
}

h1 {
	color: #458B74;
}

.table{
	margin-left:auto;
	margin-right:auto;
	width:200px;	
	border: 2px solid black;
	margin-top:50px;
}

#btn-group{
	margin-top:100px;
}
span,p{
	font-size:30px;
	font-family: 'Slabo', serif;
}

