<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bounce Town</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/static/stylesheets/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="static/js/changeTables.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Bounce Town</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				{% if player %}
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/play">Play!</a></li>
					<li><a class="active" href="/scores">Scores</a></li>
				</ul>
				{% endif %}
				<ul class="nav navbar-nav navbar-right">
					{% if player %}
					<li><a id="change-display-name-link">{{ player.get_name()
							}}</a></li> {% endif %} {% if logout_url %}
					<li><a style="display: inline-block;" href="{{ logout_url }}">Sign
							out</a></li> {% endif %}
				</ul>
			</nav>

			<!--/.nav-collapse -->
		</div>
	</div>

	{% if player %}
	<!-- Change display_name Modal -->
	<div id='change-display-name-modal' class="modal fade" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					{% if player.display_name %}
					<h4 class="modal-title">Update your display name</h4>
					{% else %}
					<h4 class="modal-title">Set your display name</h4>
					{% endif %}
				</div>
				<form action="/setdisplayname" method="POST">
					<div class="modal-body">
						<p>This will be the name displayed in the app and on game
							pages.</p>
						<input type="text" name="display_name" class="form-control"
							placeholder="Usually just your first name"
							value="{% if player.display_name %}{{ player.display_name }}{% endif %}"
							autofocus>
					</div>
					<div class="modal-footer">
						{% if player.display_name %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						{% endif %}
						<button type="submit" class="btn btn-primary">OK</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<script>
  	$("#change-display-name-link").click(function() {
  	  {% if player.display_name %}
  	    $("input[name=display_name]").val("{{ player.display_name }}");
      {% else %}
        $("input[name=display_name]").val("");
      {% endif %}
      $('#change-display-name-modal').modal('show');
  	});
  	{% if show_set_name_modal %}
  	  $(document).ready(function() {
  		setTimeout(function() {
  		  $('#change-display-name-modal').modal('show');
  		}, 2000);
  	  });
  	{% endif %}
  </script>
	{% endif %}
	<center>
	<div id="btn-group" class="btn-group-lg" role="group" aria-label="...">
  	<button id="lasttf" type="button" class=" btn btn-default">Last 25</button>
  <button id="lastten" type="button" class=" btn btn-default">Last 10</button>
  <button id="toptf" type="button" class="btn btn-default">Top 25</button>
  <button id="topten" type="button" class="btn btn-default">Top 10</button>
  <button id="hilo" type="button" class="btn btn-default">All - Hi to Lo</button>
  <button id="lohi" type="button" class="btn btn-default">All - Lo to Hi</button>
	</div>
	</center>

	<table id="topten-table" class="table table-striped hidden">
  <thead>
    <tr>
      <th><center>Your Top Ten Scores</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in top_ten %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>
  
  <table id="toptf-table" class="table table-striped">
  <thead>
    <tr>
      <th><center>Your Top 25 Scores</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in top_twentyfive %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>
  
  <table id="lastten-table" class="table table-striped hidden">
  <thead>
    <tr>
      <th><center>Your Ten Most Recent Scores</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in last_ten %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>
  
  <table id = "lasttf-table" class="table table-striped hidden">
  <thead>
    <tr>
      <th><center>Your Twenty-Five Most Recent Scores</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in last_twentyfive %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>
  
  <table id = "lohi-table" class="table table-striped hidden">
  <thead>
    <tr>
      <th><center>All of your scores from lowest to highest</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in sorted_min %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>
  
  <table id = "hilo-table" class="table table-striped hidden">
  <thead>
    <tr>
      <th><center>All of your scores from highest to lowest</center></th>
    </tr>
  </thead>
  <tbody>
    {% for score in sorted_max %}
    	<tr>
    		<td><center>{{score}}</center></td>
    	</tr>
    {% endfor %}
  </tbody>
  </table>

	<!-- /.container -->


	<!-- Bootstrap core JavaScript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->



</body>
</html>